#BryceButton {
    background-color: #222222;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10%;
    width: 8%;
    height: 3rem;
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.65);
}